html,
body {
  min-height: 100vh;
  width: 100%;
  display: block;
  flex-direction: column;
  overflow-x: hidden;
}
* {
  margin: 0;

  -webkit-font-smoothing: antialiased;
}
/* header tab start */

.header {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: #128c7e;
  height: 91px;
  min-width: 100%;

  top: 0;
  z-index: 1000;
}

.header__container {
  display: flex;
  max-width: 1050px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-right: 32px;
  padding-left: 32px;
}

.container__center {
  flex-grow: 1;
}

ul {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: #f0f4f9;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  white-space: nowrap;
}

.container__left__a {
  font-size: 25px;
  font-weight: 600;
}

.container__left__logo {
  float: left;
  margin-right: 5px;
}

/* header tab end */

/* main section start */

.upper__body {
  height: 100%;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding-top: 91px;
}
/* !!!!!!!!!!!!!!!!!!!!!! MEEEEEDIIIIAAAA */
@media (max-width: 768px) {
  body {
    min-width: 100%;
  }
  .header {
    height: 61px;
  }

  .upper__body__left__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .upper__body {
    display: block;
    flex-direction: row;
  }
  .upper__body__left__1 {
    width: 100%;
    margin-bottom: 12px;
  }
  .upper__body__left__2 {
    width: 100%;
    margin-top: 12px;
  }
}

.upper__body__left__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #e7f0e4;
}
.upper__body__left {
  width: 100%;
  margin-right: 12px;
  display: block;
  margin-left: 0;
  background-color: #e7f0e4;
  box-sizing: border-box;
  padding-top: 80px;
}
h1 {
  color: #1c1e21;
  font-size: 28px;
  font-weight: 400;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0 2%;
  padding-top: 10px;
  margin-bottom: 10px;
}
.upper__body__left__header {
  text-align: center;
  align-items: center;
  height: 70px;
  width: 100%;
  margin-bottom: 10px;
}

.upper__body__left__1 {
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.phone_girl {
  width: 190px;
  height: 351px;
}
.download__button {
  margin-top: 25px;
}
.a__download {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #f0f4f9;
  background-color: #128c7e;
  border-radius: 40px;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
}

.upper__body__left__2 {
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.phone_chat {
  width: 166px;
  height: 351px;
}
.left__filler {
  background-color: #e7f0e4;
  height: 78px;
}

.left__bottom__link {
  max-width: 64%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  background-color: #e7f0e4;
}

.div__p1 {
  text-align: center;
}
p1 {
  font-size: 24px;
  line-height: 34px;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #1c1e21;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}
.a__p1 {
  color: #39b3ed;
  font-size: 24px;
  line-height: 34px;
  vertical-align: center;
}

.terms__policy {
  text-align: center;
  padding-top: 20px;
  background-color: #e7f0e4;
  padding-bottom: 100px;
}
p3 {
  color: #5e5e5e;
  font-size: 16px;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding-left: 12%;
  padding-right: 12%;
  line-height: 40px;
}
.a__link {
  color: #39b3ed;
  font-size: 16px;
}
@media (max-width: 768px) {
  p1 {
    line-height: 26px;
    font-size: 19px;
  }
  .div__p1 {
    padding: 0;
    margin: 0;
  }
  p3 {
    font-size: 16px;
    line-height: 26px;
  }
  .a__p1 {
    line-height: 26px;
    font-size: 19px;
  }

  .left__bottom__link {
    max-width: 100%;
  }
  .phone_chat {
    padding-top: 40px;
  }
}

/* upper body right side */
.upper__body__right {
  width: 100%;
  margin-left: 12px;
  display: block;
  background-color: #fcf2c6;
  padding-top: 80px;
}
@media (max-width: 768px) {
  .upper__body__right {
    margin-left: 0;
  }
}
.upper__body__right__header {
  text-align: center;
  align-items: center;
  height: 70px;
  width: 100%;
  margin-bottom: 10px;
}
.upper__body__right__image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mac__pc {
  width: 382px;
  height: 223px;
}

.terms__policy__right {
  margin-top: 20px;
  text-align: center;
}
.download__button__mac {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 40px;
  background-color: #fcf2c6;
}
.right__filler {
  background-color: #fcf2c6;
  display: block;
  height: 64px;
}

.right__bottom__link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  background-color: #fcf2c6;
  padding-bottom: 160px;
}

@media (max-width: 768px) {
  p3 {
    font-size: 16px;
    line-height: calc(1.5 * 16px);
    padding-left: 12%;
    padding-right: 12%;
  }
}

/* FOOTER */
.footer {
  width: 100%;
  bottom: 0;
  background-color: #273443;
  margin: 0;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1050px;
  width: 90%;
  margin: 0;
  padding: 56px 20px;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.bot__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 25%;
  text-align: left;
  margin: 0;
  padding: 0;
}
.h__bot__list {
  font-size: 16px;
  letter-spacing: 1.7px;
  line-height: 17px;
  padding-bottom: 32px;
  font-weight: 700;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #f0f4f9;
  text-align: left;
  text-decoration: none;
}
.a__bot__list {
  text-decoration: none;
  font-size: 18px;
  color: #f0f4f9;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1, 7px;
  line-height: 26px;
  padding-bottom: 4px;
}

/* footer section end */
.last__footer {
  width: 100%;
  bottom: 0;
  background-color: #1c1e21;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 4px 24px;
}
.last__footer__content {
  display: flex;
  justify-content: space-between;
  max-width: 1050px;
  width: 90%;
  padding: 16px 16px;
}

.footer__text__decoration {
  font-size: 18px;
  line-height: 26px;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #f0f4f9;
}
